{% extends "layout.html" %}

{% block content %}
    <h1 class="text-white">Welcome to My Tweet</h1>
    <p class="text-white">This is a simple tweet application.</p>

    <a class="btn btn-primary" href="{% url 'tweet:tweet_create' %}">Create Tweet</a>
    <div class="container row gap-3">
        {% for tweet in tweets %}
        <div class="card" style="width: 18rem;">
            {% if tweet.photo %}
            <img src="{{ tweet.photo.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ tweet.user.username }}</h5>
                <p class="card-text">{{ tweet.content }}</p>
                {% if tweet.user == request.user %}
                    <a href="{% url 'tweet:tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'tweet:tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}